	
	/*IMPORTANT RULE FOR FOR POSITIONING DIVS - ANY DIV YOU FLOAT OR CLEAR MUST HAVE A DIV WITHOUT ANY POSITTONING SURROUNDING IT. 
	(i.e a div without any float or clear postioning should be surrounding it.)*/

	body{
			background-color: #EFEEF5;
		}

		p{
			font-size:18px;

		}

			/*This styling is for the div_container div.. div_container holds all the divs used on the web page.(i.e all other divs are inside div_container)
			The measurements of width and height of all other divs are measured according to the dimensions of div_container.
			div_container's width and height are set to the full size of the screen used to display the webpage.
			100% width of the display screen and 100% height of the display screen.
			*/
		.div_container{
			border:1px solid clear;
			width:100%;
			height:100%;

		}

		/*Styling for the div_header div (Links Computers...Heading)
		The percentages of the width and height measurements used are in relation to the size of div_container div surrounding it. 
		This means 100% of div_container's width is to be occupied by div_header on the screen. 
		Also 20% of div_container's height is to be occupied by div_header on the screen.
		*/
		.div_header{
			border:1px solid clear;
			width:100%;
			height:20%;
			clear:both;
			background-color:#0C05B9;
		}

		h1{
			margin-left:300px;
			font-size:80px;
			color:white;
			padding-top:20px;
		}

		/*Styling for the div_nav div (Hyperlinks)
		The percentages of the width and height measurements used are in relation to the size of div_container div surrounding it. 
		This means 100% of div_container's width is to be occupied by div_nav on the screen. 
		Also 5% of div_container's height is to be occupied by div_nav on the screen.
		*/
		.div_nav{
			border:1px solid clear;
			width:100%;
			height:5%;	
			clear:both;
			background-color:#09c;
			display:inline-block;
			font-family:Times New Roman, Helvetica, sans-serif;
			letter-spacing:1px;

		}

		a{
			color:#C90736; 
			font-size:22px;
			font-weight:bold;
			letter-spacing:1px; 
			margin-left:150px;
		}	 


		/*This is a hover property for the hyperlinks. It is styled like a normal div*/
		div a:hover{
			color:green; 
			font-size:22px;
			font-weight:bold;
			background-color:#00FFFF;
			width:100%;
			height:10%;
		}


		/*Styling for the div container (List of computers on the left side of the screen)
		The percentages of the width and height measurements used are in relation to the size of div_container div surrounding it. 
		This means 20% of div_container's width is to be occupied by div_list on the screen. 
		Also 50% of div_container's height is to be occupied by div_list on the screen.
		*/
		.div_list{
			border:1px solid clear;
			width:20%;
			height:50%;
			float:left;
			background-color:#C7F5EC;
		}

		span{
			/*margin-bottom:50px;*/
			line-height: 60px;
			font-size:28px;
			font-weight:bold;
		}
		
		/*Styling for the div_content div. It floats or positions the div_content div to the left of the screen.
		The percentages of the width and height measurements used are in relation to the size of div_container div surrounding it. 
		This means 70% of div_container's width is to be occupied by div_content on the screen. 
		Also 50% of div_container's height is to be occupied by div_content on the screen.
		 */
		.div_content{
			border:1px solid clear;
			width:70%;
			height:50%;
			float:left;
			margin-bottom:100px;
		}

		/*Styling for the div_content_type div which is holding the div_pc_image div (the divs for the images) and div_pc_desc div (the div for the description.) 
		The percentages of the width and height measurements used are in relation to the size of div_content div surrounding it. 
		This means 100% of div_content's width is to be occupied by div_content_type on the screen. 
		Also 33% of div_content's height is to be occupied by div_content_type on the screen.
		*/
		.div_content_type{
			border:1px solid clear;
			width:100%;
			height:33%;
		}

		/*Styling for the div_pic_image div. This div is inside the div_content_type.
		The percentages of the width and height measurements used are in relation to the size of the div_content_type div surrounding it.
		This means 20% of div_content_type's width is to be occupied by div_pic_image on the screen.
		Also 90% of div_content_type's height is to be occupied by div_pic_image on the screen.
		*/
		.div_pc_image{
			border:1px solid clear;
			width:20%;
			height:90%;
			float:left;
		}

		/* Styling for div_pc_desc div. This div is inside the div_content_type. 
		The percentages of the width and height measurements used are in relation to the size of the div_content_type div surrounding it.
		This means 79% of div_content_type's width is to be occupied by div_pic_desc on the screen.
		Also 90% of div_content_type's height is to be occupied by div_pic_desc on the screen.*/
		.div_pc_desc{

			border:1px solid clear;
			width:79%;
			height:90%;
			float:left;	
		}


		.div_footer{
			border:1px solid clear;
			width:100%;
			height:10%;
			clear:both;
			font-size:16px;
			text-align:center;
		}


